@model int

<h1>@ViewBag.Room.Nombre</h1>
<hr/>
<div class="row">
    <div class="col-12">
        <div id="messages" style="height:500px; overflow:scroll"></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-12">
        <input type="text" placeholder="text" id="message" class="input"/>
        <button id="btnSend">Send</button>
    </div>
</div>

<script src=~/lib/microsoft/signalr/dist/browser/signalr.min.js></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/Chathub").build();
    connection.start().then(()=>{
        $.get( "/chat/ShowHistorial", 
            { room: @ViewBag.Room.IdRoom },
            function( data ) {
            var message = ""
            $.each(data, function(i, item) {
                 message = "<div><p><i>"+ data[i].created +"</i>&emsp;<strong>" + data[i].userID + ": </strong>" + data[i].message+ "</p></div>"  + message;
            });
            document.getElementById("messages").innerHTML = message
            connection.invoke("AddToGroup","@Model")
        });
        
    }).catch((e) => console.error);

    document.getElementById("btnSend").addEventListener("click", (event)=> {
        let room = "@Model";
        let message = document.getElementById("message").value;

        connection.invoke("SendMessage", room, message)
        document.getElementById("message").value = null;
        event.preventDefault();
    })
    connection.on("RecieveMessage",(user, message) => {
        var message = "<div><p><i>"+ new Date() +"</i>&emsp;<strong>" + user + ": </strong>" + message+ "</p></div>";
        document.getElementById("messages").innerHTML = 
        document.getElementById("messages").innerHTML + message;
    })
</script>